<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <script src="__STATIC__/module/index/platform/js/jquery-1.8.3.min.js"></script>
    <script src="__STATIC__/module/index/platform/js/common.js"></script>
    <link href="__STATIC__/module/index/platform/css/header.css" type="text/css" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="__STATIC__/module/index/platform/css/page.css">
    <link href="__STATIC__/module/index/platform/css/ext.css" type="text/css" rel="stylesheet">
    <script src="__STATIC__/module/index/platform/js/ext.js"></script>
    <script src="__STATIC__/module/common/toastr/toastr.min.js"></script>
    <link href="__STATIC__/module/common/toastr/toastr.min.css" rel="stylesheet" type="text/css"/>
    <title>{:config('seo_title')}{notempty name="ob_title"} - {$ob_title}{/notempty}</title>
    <meta http-equiv="keywords" content="{:config('seo_keywords')}" />
    <meta name="description" content="{:config('seo_description')}" />
</head>