<!-- 新闻中心样式 -->
<link href="__STATIC__/module/index/platform/css/newscenter.css" type="text/css" rel="stylesheet">
    
<div class="newsbox">
    <div class="newsnav w1200">
        <div class="newstxt">
            <!--<div class="add">首页&gt;新闻&gt;公告详情</div>-->
            <h1>{$info.name}</h1>
            <div class="txtnav">

                {$info.content}

                <!-- <div class="nextpage">
                     <a href="#">上一篇：封魔谷</a>
                     <a href="#">下一篇：平台网络波动充值延时公告</a>
                 </div>-->
            </div>
        </div>
    </div>

</div>