<form action="{:url()}" method="post" class="form_single">
    <div class="box">
      <div class="box-body">
        <div class="row">
          <div class="col-md-6">
            <div class="form-group">
              <label>链接名称</label>
              <span>（友情链接名称，用于前端展示）</span>
              <input class="form-control" name="name" placeholder="请输入友情链接名称" value="{$info['name']|default=''}" type="text">
            </div>
          </div>
            
          <div class="col-md-6">
            <div class="form-group">
              <label>排序</label>
              <input class="form-control" name="sort" placeholder="请输入排序值" value="{$info['sort']|default='0'}" type="text">
            </div>
          </div> 
            
          <div class="col-md-6">
            <div class="form-group">
              <label>链接URL</label>
              <span>（例如：https://demo.onebase.org）</span>
              <input class="form-control" name="url" placeholder="请输入链接URL" value="{$info['url']|default=''}" type="text">
            </div>
          </div>
            
            
          <div class="col-md-6">
            <div class="form-group">
                <label>链接描述</label>
                <span>（此友情链接的描述信息）</span>
                <textarea class="form-control" name="describe" rows="3" placeholder="请输入链接描述">{$info['describe']|default=''}</textarea>
            </div>
          </div>
            
            
          <div class="col-md-6">
            <div class="form-group">
                <label>友情链接图片</label>
                <span class="">（请上传单张图片）</span>
                <br/>
                {assign name="img_id" value="$info.img_id|default='0'" /}
                {:widget('file/index', ['name' => 'img_id', 'value' => $img_id, 'type' => 'img'])}
            </div>
          </div>
            
          </div>
        </div>
        
      <div class="box-footer">
          
        <input type="hidden" name="id" value="{$info['id']|default='0'}"/>
        
        {include file="layout/edit_btn_group"/}
      </div>
        
      </div>

</form>