<!-- 游戏中心样式 -->
<link href="__STATIC__/module/index/platform/css/h5game.css" type="text/css" rel="stylesheet">

<div class="w1240">
	<div class="hot_sev">
		<!-- 推荐游戏 -->
		<div class="hot">
			<div class="til">
                            <h2>游戏推荐</h2>
			</div>
			<div class="hot_games">
				<ul>
 
                                    {volist name="data['game_recommend_list']" id="v" key="k"}
                                        <li>
                                            <div class="hot_pic">
                                                <i class="ico_h ico_hh5"></i>
                                                <img class="pic_hot" src="{$v.game_cover|get_picture_url}" alt="{$v.game_name}">
                                            </div>
                                            <div class="hot_dec">
                                                <a href="javascript:;" class="hot_name">{$v.game_name}</a>
                                                <p>{$v.game_intro}</p>
                                                <a href="javascript:;" class="hot_btn hot_btn_h5" gid="10" >点击开玩</a>
                                            </div>
                                        </li>
                                    {/volist}
                                    
                                </ul>
				<div class="clear"></div>
			</div>
		</div>
		
		<!-- 热门游戏 -->
		<div class="sev">
			<div class="til">热门游戏</div>
			<div class="sev_box">
                                <ul style="display: block;">
                                    {volist name="data['game_hot_list']" id="v" key="k"}
                                        <li>
                                        <a href="javascript:;">
                                            <span class="sev_pic">
                                                <img class="pic_hot" src="{$v.game_head|get_picture_url}" alt="{$v.game_name}">
                                            </span>
                                            <p class="name_sev">{$v.game_name}</p>
                                            <p>{$v.game_intro}</p>
                                            <p class="time_sev">
                                              {$v.create_time}
                                            </p>
                                            <i class="ico_sev"></i>
                                        </a>
                                        </li>
                                    {/volist}
                                </ul>
                                    
			</div>
		</div>
		<div class="clear"></div>
	</div>
	
	<!-- 游戏列表 -->
	<div class="games">
		<div class="til">游戏列表</div>
		<div class="games_box">
			<div class="til_game">
				<a href="javascript:;" height="1" id="first-hei" class="cur">全部游戏</a>
			</div>
			<ul class="game_eg" style="display: block;">
 
                            
                                    {volist name="data['game_hot_list']" id="v" key="k"}
                                    
                                        <li>
                                            <span class="game_pic">
                                                <img src="{$v.game_head|get_picture_url}" alt="{$v.game_name}">
                                            </span>
                                            <h4>{$v.game_name}</h4>
                                            <p>{$v.game_intro}</p>
                                            <a href="javascript:;" gid="10" class="btn_game">点击开玩</a>
                                        </li>
                                 
                                    {/volist}
                        </ul>
            <div class="clear"></div>
		</div>			
	</div>
</div>