<!-- 登录样式 -->
<link href="__STATIC__/module/index/platform/css/login.css" type="text/css" rel="stylesheet">

    <div class="top clearfix">
        <div class="logo">
            <span>{$ob_title}</span>
        </div>
    </div>
        
<form action="{:url('safety/retrievePassword')}" method="post" class="register-form">
<div class="loginbox tabs">
    
    <hr style='border-top:2px solid #ff5d13; border-bottom: none; border-left: none; border-right: none; '/>
    
    <div class="piclist" id="tab-1">
    <div class="inputli">
    <ul class="clearfloat">

        <li>
          <div class="form-group">
                <label>用户名：</label>
                <input type="text" class="form-control" name="username" placeholder="请输入用户名">
                <span>* 注册时用户名，QQ登录用户名格式如：qq_user_30</span>
          </div>
        </li>

        <li>
          <div class="form-group">
                <label>验证码：</label>
                <input type="text" class="form-control" name="verify" placeholder="请输入验证码">
                <div>
                    <img src="{:captcha_src()}" class="pull-right captcha_change" id="captcha_img" style="cursor: pointer; height: 40px;" title="点击刷新" alt="captcha" />
                </div>
          </div>
        </li>
        
    </ul>
        <button class="btn register-form-sub">提交</button>
    </div>
      
    </div>
</div>
</form>
<script type="text/javascript">

    //注册
    $(".register-form-sub").click(function(){

        $('.fakeloader').show();
        
        var self = $('.register-form');
        $.post(self.attr("action"), self.serialize(), success, "json");
        return false;

        function success(data){

            setTimeout(function(){ $('.fakeloader').hide(); }, 500);
            
            obalert(data);
        }
    });
    
    //刷新验证码
    $(".captcha_change").click(function(){

        var captcha_img_obj = $("#captcha_img");

        captcha_img_obj.attr("src",captcha_img_obj.attr("src")+"?"+Math.random());
    });
    
</script>