<!-- 登录样式 -->
<link href="__STATIC__/module/index/platform/css/login.css" type="text/css" rel="stylesheet">

    <div class="top clearfix">
        <div class="logo">
            <span>{$ob_title}</span>
        </div>
    </div>
        
<form action="{:url('safety/setPassword')}" method="post" class="register-form">
<div class="loginbox tabs">
    
    <hr style='border-top:2px solid #ff5d13; border-bottom: none; border-left: none; border-right: none; '/>
    
    <div class="piclist" id="tab-1">
    <div class="inputli">
    <ul class="clearfloat">

        <li>
          <div class="form-group">
                <label>新密码：</label>
                <input type="password" class="form-control" name="password" placeholder="请输入新密码">
          </div>
        </li>
        
        <li>
          <div class="form-group">
                <label>确认密码：</label>
                <input type="password" class="form-control" name="confirm_password" placeholder="请输入确认密码">
          </div>
        </li>
        
    </ul>
        
        <input type="hidden" name="sign" value="{$sign|default=''}"/>
        
        <button class="btn register-form-sub">提交</button>
    </div>
      
    </div>
</div>
</form>
<script type="text/javascript">

    //注册
    $(".register-form-sub").click(function(){

        $('.fakeloader').show();
        
        var self = $('.register-form');
        $.post(self.attr("action"), self.serialize(), success, "json");
        return false;

        function success(data){

            setTimeout(function(){ $('.fakeloader').hide(); }, 500);
            
            obalert(data);
        }
    });
    
</script>