<div class="box">
  <div class="box-header ">
      
        <div style="float: left;">
            <span>
                充值总金额：{$list['data_statistics']['pay_money_total']}。
            </span>
        </div>
      
        &nbsp;&nbsp;&nbsp;&nbsp;
        <ob_link><a class="export" style="cursor:pointer;" url="{:url('conferenceAccountsExport')}"><i class="fa fa-download"></i> 导 出</a></ob_link>
      
        <div class="box-tools ">

            <div class="input-group input-group-sm search-form" style="margin-right: 100px;">

                <input class="pull-right search-input date" style="width: 100px;" name="end_date" placeholder="结束日期" value="{:input('end_date')}" type="text">
                <input class="pull-right search-input date" style="width: 100px;" name="begin_date" placeholder="开始日期" value="{:input('begin_date')}" type="text">

                <div class="input-group-btn">
                  <button type="button" id="search" url="{:url('conferenceAccounts')}" class="btn btn-default"><i class="fa fa-search"></i></button>
                </div>
            </div>
        </div>
        <br/>
  </div>
    
  <div class="box-body table-responsive">
    <table  class="table table-bordered table-hover">
      <thead>
        <tr>
            <th>公会名称</th>
            <th>充值金额</th>
            <th>分成比例</th>
            <th>分成金额</th>
            <th>联系人</th>
            <th>联系电话</th>
            <th>开户行</th>
            <th>开户人</th>
            <th>卡号</th>
        </tr>
      </thead>
      
      {notempty name="list['data_list']"}
        <tbody>
            {volist name="list['data_list']" id='vo'}
                <tr>
                  <td>{$vo.conference_name}</td>
                  <td>{$vo.pay_money}</td>
                  <td>{$vo.ratio}%</td>
                  <td>{$vo.pay_money/100*$vo.ratio}</td>
                  <td>{$vo.contact_name}</td>
                  <td>{$vo.contact_mobile}</td>
                  <td>{$vo.opening_bank}</td>
                  <td>{$vo.account_holder}</td>
                  <td>{$vo.bank_account}</td>
                </tr>
            {/volist}
        </tbody>
        {else/}
        <tbody><tr class="odd"><td colspan="9" class="text-center" valign="top">{:config('empty_list_describe')}</td></tr></tbody>
      {/notempty}
    </table>
  </div>

  <div class="box-footer clearfix text-center">
      {$list['data_list']->render()}
  </div>

</div>

<script type="text/javascript">

    $(function(){
        
        $('.date').datetimepicker({
            format: 'yyyy-mm-dd',
            language:"zh-CN",
            minView:2,
            autoclose:true
        });
        
        //导出功能
        $(".export").click(function(){

            window.location.href = searchFormUrl($(".export"));
        });
    });

</script>