<div class="box">
  <div class="box-header">
    
    <ob_link><a class="btn" href="{:url('gameEdit')}"><i class="fa fa-plus"></i> 新 增</a></ob_link>
    
  </div>
    
  <div class="box-body table-responsive">
    <table  class="table table-bordered table-hover">
      <thead>
      <tr>
          <th>分类</th>
          <th>名称</th>
          <th>LOGO</th>
          <th>是否推荐</th>
          <th>是否热门</th>
          <th>排序</th>
          <th>创建时间</th>
          <th>操作</th>
      </tr>
      </thead>
      
      {notempty name='list'}
        <tbody>
            {volist name='list' id='vo'}
                <tr>
                    <td>{$vo.category_name}</td>
                  <td>{$vo.game_name}</td>
                  <td><img class="admin-list-img-size" src="{$vo.game_logo|get_picture_url}"/></td>
                  <td>
                      {eq name='vo.is_recommend' value='1'}
                            <a class="ajax-get" href="{:url('speedySetValue', array('model' => 'WgGame', 'id' => $vo['id'], 'field' => 'is_recommend' , 'value' => 0))}">是</a>
                         {else/}
                            <a class="ajax-get" href="{:url('speedySetValue', array('model' => 'WgGame', 'id' => $vo['id'], 'field' => 'is_recommend' , 'value' => 1))}">否</a>
                      {/eq}
                  </td>
                  <td>
                      {eq name='vo.is_hot' value='1'}
                            <a class="ajax-get" href="{:url('speedySetValue', array('model' => 'WgGame', 'id' => $vo['id'], 'field' => 'is_hot' , 'value' => 0))}">是</a>
                         {else/}
                            <a class="ajax-get" href="{:url('speedySetValue', array('model' => 'WgGame', 'id' => $vo['id'], 'field' => 'is_hot' , 'value' => 1))}">否</a>
                      {/eq}
                  </td>
                  <td>{$vo.sort}</td>
                  <td>{$vo.create_time}</td>
                  <td class="col-md-2 text-center">
                      <ob_link><a href="{:url('gameEdit', array('id' => $vo['id']))}" class="btn"><i class="fa fa-edit"></i> 编 辑</a></ob_link>
                      &nbsp;
                      <ob_link><a class="btn confirm ajax-get"  href="{:url('gameDel', array('id' => $vo['id']))}"><i class="fa fa-trash-o"></i> 删 除</a></ob_link>
                  </td>
                </tr>
            {/volist}
        </tbody>
        {else/}
        <tbody><tr class="odd"><td colspan="8" class="text-center" valign="top">{:config('empty_list_describe')}</td></tr></tbody>
      {/notempty}
    </table>
  </div>

  <div class="box-footer clearfix text-center">
      {$list->render()}
  </div>

</div>