<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>OneGame</title>
<style>
html,body{
 height:100%;
 margin: 0px;
 padding: 0px;
 overflow: hidden;
}
</style>
</head>
<body>
    <script language="javascript">
       history.pushState(null, null, document.URL); window.addEventListener('popstate', function () { history.pushState(null, null, document.URL); });
    </script>
    <iframe height="100%" width="100%" src="{$play_url}" frameborder="0" scrolling="no">
</body>
</html>