<div class="box">
  <div class="box-header">
    
    <ob_link><a class="btn" href="{:url('giftEdit')}"><i class="fa fa-plus"></i> 新 增</a></ob_link>
    
  </div>
    
  <div class="box-body table-responsive">
    <table  class="table table-bordered table-hover">
      <thead>
        <tr>
            <th>礼包名称</th>
            <th>游戏名称</th>
            <th>库存</th>
            <th>简介</th>
            <th>创建时间</th>
            <th>操作</th>
        </tr>
      </thead>
      
      {notempty name='list'}
        <tbody>
            {volist name='list' id='vo'}
                <tr>
                  <td>{$vo.gift_name}</td>
                  <td>{$vo.game_name}</td>
                  <td>{$vo.gift_inventory}</td>
                  <td>{$vo.gift_describe}</td>
                  <td>{$vo.create_time}</td>
                  <td class="col-md-2 text-center">
                      
                      <a href="{:url('giftEdit', array('id' => $vo['id']))}" class="btn"><i class="fa fa-edit"></i> 编 辑</a>
                      &nbsp;
                      <a href="{:url('inventoryList', array('id' => $vo['id']))}" class="btn"><i class="fa fa-database"></i> 库 存</a>
                      &nbsp;
                      <a class="btn confirm ajax-get"  href="{:url('giftDel', array('id' => $vo['id']))}"><i class="fa fa-trash-o"></i> 删 除</a>
                  </td>
                </tr>
            {/volist}
        </tbody>
        {else/}
        <tbody><tr class="odd"><td colspan="6" class="text-center" valign="top">{:config('empty_list_describe')}</td></tr></tbody>
      {/notempty}
    </table>
  </div>

  <div class="box-footer clearfix text-center">
      {$list->render()}
  </div>

</div>