.newsbox{ background:url(../images/news/newsbanner.png) center top no-repeat; padding-top:210px;}
.newsnav{ background:rgba(255,255,255,0.85); border-radius:15px; box-shadow:0 0 8px rgba(0,0,0,0.1); overflow:hidden;}

.newsnav ul{ padding:25px 50px;}
.newslist{}
.newslist  li{position: relative; *width:100%;}
.newslist  li a{display:block; line-height:46px; font-size:14px; border-bottom:1px dotted #ccc; position:relative; z-index:2; color:#666;}
.newslist li:before{position:absolute; content:""; top:0; left:0; height:0%; width:100%; background:#f5f5f5; z-index:1; transition:all 0.5s;}
.newslist li:hover:before{height:100%;}

.newslist  li a:hover{ text-decoration:underline; color:#f26522;}

.newslist  li .date{ top:0; position:absolute; right:10px; color:#888; font-family:Arial, Helvetica, sans-serif; line-height:40px;font-size:14px;  z-index:2}

.newstab{ text-align:center; border-bottom:1px solid #ddd; padding-bottom:0!important; margin:0px 50px;}
.newstab li{ display:inline-block; 

                                *zoom:1;

                                *display: inline;}
.newstab li a{ font-size:16px; color:#333; padding:10px 10px; display:block; position:relative}
.newstab li.active a:before{ position:absolute; content:""; height:3px; width:100%; background:#f26522; bottom:-1px; left:0;}
.newstab li.active a,.newstab li a:hover{ color:#f26522; font-weight:bold;}

.newstxt{ padding:40px 50px 50px 50px}
.newsnav h1 {
    text-align: center; font-size:36px;
    color: #333; font-weight:normal;
    margin-bottom: 20px;
}



.txtnav { font-size:14px;
    padding-top: 30px;
    color: #333333;
    min-height: 598px;
}
 .txtnav p {
    text-align: justify;
    line-height: 2;
}
.nextpage{ overflow:hidden; padding:50px 0 0 0;}
.nextpage a{ display:block; float:left; width:50%; font-size:16px; color:#f26522; background-color:#f5f5f5; padding:10px 0; text-align:center; transition:all 0.5s;}
.nextpage a:hover{ background-color:#f1f1f1;}