/*内容*/
.con_box{width:1240px; margin:0 auto; position:relative;}

/*banner*/
.banner{padding-top:452px; }
.focus-box{width:1920px; height:605px; overflow:hidden; position:absolute; top:0; left:50%; margin-left:-960px;}
.focus-box:before{width:100%;height:30%;position:absolute;content:"";
left:0;bottom:0;z-index:2;
background:-webkit-linear-gradient(transparent,#f7f7f7);background:-o-linear-gradient(transparent,#f7f7f7);
background:-moz-linear-gradient(transparent,#f7f7f7);background:linear-gradient(transparent,#f7f7f7)}

.focus-box ul{display:block; width:100%; height:605px;}
.focus-box ul li{width:100%; height:605px; display:none; left:0; position:absolute; top:0;}
.focus-box ul li img{width:100%; height:605px;}
.focus-btn{position:absolute; left:0; bottom:175px; width:100%; text-align:center; z-index:3;}
.focus-btn a{background:rgba(255,255,255,0.8);background:#fff \9; transition:all 0.5s; width:15px; height:10px; display:inline-block; z-index:2; margin:0 1px; text-indent:35px; overflow:hidden;}
.focus-btn a.act{width:33px; background:#f26522;}

/*内容*/
.main{width:1200px; padding:0 20px; position:relative; background:#f7f7f7; margin:0 auto; z-index:3}
.timeout{font-size: 15px;display: none}
.timeout a{display: inline-block!important;color:#2980b4}
.log_e a{color: #f26522;display: inline!important;}
/*登录*/
.log_kinds{width:290px; height:340px; background:rgba(255,255,255,0.85);background:#fff \9; *background:#fff; border-radius:15px; box-shadow:0 0 8px rgba(0,0,0,0.5); position:absolute; top:-405px; right:20px; z-index:11;}
.log_box, .log_ewm{width:100%; height:100%; position:absolute; top:0; left:0;}
.log_inp{width:250px; margin:0 auto;}
.log_inp h2, .log_ewm h2{font-size:18px; color:#3e3e3e; padding-top:35px;}
.log_inp dl dd{width:203px; height:40px; padding-left:45px; border:1px solid #C9C9C9; background:#fff; margin-top:15px; position:relative;}
.log_inp dl dd i{width:27px; height:16px; background:url(../images/login/icon.png) no-repeat; background-position:-1px -198px; position:absolute; top:12px; left:8px;}
.log_inp dl dd+dd i{background-position:-52px -198px;}
.log_inp dl dd input{width:100%; height:18px; padding:10px 0; color:#979797;}
.autolog{padding:20px 0 25px; color:#6c6c6c;}
.autolog span{float:left; display:inline;}
.autolog span input{margin-right:5px; vertical-align:-3px;}
.autolog a{float:right; display:inline; color:#2980b4;}
.autolog a:hover, .log_other a:hover, .only_name a:hover, .m_news_lis ul li a:hover{text-decoration:underline;}
.log_btn{width:248px; height:40px; display:block; border-radius:3px; box-shadow:3px 2px 5px rgba(0,0,0,0.1); transition:all 0.5s; background:#f26522;text-align:center; font-size:14px; line-height:40px; color:#fff; cursor:pointer;}
.log_btn:hover{ background:#ff7318;}
.log_other{border-top:1px dotted #999; padding-top:15px; margin-top:20px; text-align:center; line-height:18px;}
.log_other a{color:#2980b4; display:inline-block; margin:0 2px;}
.log_other a.log_qq, .log_other a.log_wb{background:url(../images/login/icon.png) no-repeat; padding:0 5px 0 25px; color:#525050; border-right:1px dashed #adb0af;}
.log_other a.log_qq{background-position:0 -227px;}
.log_other a.log_wb{background-position:-1px -253px;}

.logined{display:show;}
.user_inf{padding:20px 20px 10px; border-bottom:1px dashed #cccecd;}
.user_head{width:93px; height:93px; border:1px solid #d3d3d2; border-radius:100%; overflow:hidden; float:left; display:block;}
.user_head img{width:100%; height:100%;}
.user_txt{width:145px; float:right; display:inline; line-height:23px;}
.user_txt span{float:left; display:inline;}
.user_txt a{float:right; display:inline; color:#ff5d13;}
.user_txt em{color:#f26522;}
.user_btns a{width:43px; height:17px; float:left; display:block; margin:5px 10px 0 0; text-align:center; line-height:17px; color:#fff; 
background:#f26522; border-radius:2px;}
.user_btns a:hover{background:#009aff;}
.user_vip{width:260px; height:18px; background:url(../images/login/icon.png) no-repeat; background-position:0 -169px; margin-top:10px; position:relative;}
.vip{width:48px; height:14px; background:url(../images/login/icon.png) no-repeat; background-position:0 -439px; position:absolute; top:2px; left:2px;}
.vip1{background-position:0 -421px;}
.vip2{background-position:0 -403px;}
.vip3{background-position:0 -386px;}
.vip4{background-position:0 -368px;}
.vip5{background-position:0 -351px;}
.vip6{background-position:0 -333px;}
.vip7{background-position:0 -315px;}
.vip8{background-position:0 -298px;}
.vip9{background-position:0 -280px;}
.level_line{width:194px; height:6px; position:absolute; top:6px; left:60px;}
.level_line i{position:absolute; top:-4px; right:0; color:#f26522; font-size:10px;}
.level_line_l, .level_line_r{width:2px; height:6px; float:left; display:block; background:url(../images/login/icon.png) no-repeat;}
.level_line_l{background-position:-96px -203px;}
.level_line_r{background-position:-106px -203px;}
.level_num{max-width:190px; height:6px; background:url(../images/login/level_bg.jpg); float:left; display:inline; width:60%;}
.lately{padding:15px 0 0 15px;}
.lately h3{font-size:14px; color:#f26522;}
.lately ul li{height:22px; line-height:22px; margin-top:3px;}
.lately ul li{color:#6c6c6c;}
.lately ul li img, .lately ul li a, .lately ul li em{float:left; display:block;}
.lately ul li img{width:14px; height:14px; border:1px solid #f1d6cd; margin-top:4px;}
.lately ul li a{width:70px; margin:0 5px; overflow:hidden; color:#6c6c6c;height: 22px;}
.lately ul li a.s_btn{width:67px; height:22px; display:block; background:#f26522; border-radius:2px; text-align:center; line-height:22px; color:#fff; margin-left:5px;}
.lately ul li a.s_btn:hover{background:#009aff;}


/*独代大作*/
.til{font:30px Microsoft YaHei; color:#565656; padding:20px 0 0; height:40px;}
.only_li{margin-top:10px;}
.only_li ul li{width:590px; height:280px; border-radius:5px; overflow:hidden; float:left; display:inline; position:relative;}
.only_li ul li img{width:100%; height:100%;}
.only_li ul li+li{margin-left:20px;}
.only_txt{width:100%; height:184px; font-size:14px; background:url(../images/login/pic_h.png) no-repeat; position:absolute; bottom:-184px; left:0;}
.only_name{margin-top:110px; float:left; display:inline; padding-left:20px; color:#fff;}
.only_name h2{font-size:22px;color: #fff}
.only_name a{color:#fff;}
.only_btns{margin-top:125px; padding-right:20px; float:right; display:inline;}
.only_btns a{width:96px; height:28px; display:inline-block; border:1px solid #f26522; line-height:28px; color:#f26522; text-align:center; border-radius:5px; margin-left:10px;}
.only_btns a:hover{color:#fff; background:#f26522;}

/*左侧内容*/
.m_conl{width:880px; float:left; display:inline;}

/*热门游戏*/
.til a{width:43px; height:17px; border:1px solid #f26522; display:inline-block; font-size:12px; color:#f26522; line-height:17px; text-align:center; border-radius:3px; margin-left:15px;}
.til a:hover{background:#f26522; color:#fff;}
.game_li ul li{width:280px; *width:278px; width:278px \9; height:240px; background:#fff; box-shadow:0 0 1px rgba(0,0,0,0.2); *border:1px solid #dadada; border:1px solid #dadada \9; border-radius:3px; overflow:hidden; margin:20px 20px 0 0; float:left; display:inline; transition:all 200ms linear;}
.game_li ul li:hover{box-shadow:0 0 4px rgba(0,0,0,0.2);}
.game_pic{width:100%; height:170px; display:block; overflow:hidden;}
.game_pic img{width:100%; height:100%;}
.game_li ul li h4{height:40px; padding:0 20px;}
.game_li ul li h4 a{float:left; display:inline; font:bold 14px/40px Microsoft YaHei; color:#565656;}
.game_li ul li h4 a+a{width:75px; height:20px; border:1px solid #f26522; border-radius:3px; float:right; display:block; margin-top:9px; font:14px/20px Microsoft YaHei; color:#f26522; text-align:center; transition:all 200ms linear;}
.game_li ul li h4 a+a:hover{background:#f26522; color:#fff;}
.g_gw{height:30px; line-height:30px; color:#888; background:#f6f6f6; padding:0 20px;}
.g_gw i{float:left; display:inline;}
.g_gw span{float:right; display:inline;}
.g_gw span a{margin:0 3px; color:#888;}
.g_gw span a:hover{color:#f26522;}

/*更多游戏*/
.game_more{height:225px; box-shadow:0 0 1px rgba(0,0,0,0.2); margin-top:20px; *border:1px solid #dadada; border:1px solid #dadada \9; background:#fbfbfb; transition:all 200ms linear;}
.game_more:hover{box-shadow:0 0 4px rgba(0,0,0,0.2);}
.game_more ul li{width:230px; margin:25px 15px 0 40px; float:left; display:inline;}
.g_pic{width:75px; height:75px; overflow:hidden; float:left; display:block; position:relative; border-radius:5px;}
.g_pic img{width:100%; height:100%; transition:all 200ms linear; border-radius:5px}
.g_pic:hover img{transform:scale(1.2);}
.g_dec{width:135px; float:right; display:inline;}
.g_dec a{font:bold 14px Microsoft YaHei; color:#565656;}
.g_dec1 a {
    font: bold 14px Microsoft YaHei;
    color: #565656;
    display: block;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
}
.g_dec span{display:block; line-height:30px; color:#888;}
.g_dec p a{width:45px; height:20px; border:1px solid #c1c1c1; float:left; display:block; text-align:center; color:#a0a0a0; border-radius:3px; transition:all 200ms linear; font-weight:normal;}
.g_dec p a+a{width:75px; border:1px solid #f26522; float:right; display:block; color:#f26522;}
.g_dec p a:hover{border-color:#f26522; color:#f26522;}
.g_dec p a+a:hover,.gift p a:hover{background:#f26522; color:#fff;}
.gift p a{border:1px solid #f26522;width:75px; color:#f26522;}

/*右侧内容*/
.m_conr{width:300px; float:right; display:inline;}

/*新闻资讯*/
.m_news_lis{height:260px; padding:10px 10px 0; box-shadow:0 0 1px rgba(0,0,0,0.2); *border:1px solid #dadada; border:1px solid #dadada \9; margin-top:20px; background:#fbfbfb; transition:all 200ms linear;}
.m_news_lis:hover{box-shadow:0 0 4px rgba(0,0,0,0.2);}
.m_news_pic{width:280px; height:95px; overflow:hidden; position:relative;}
.m_news_pic img{width:100%; height:100%;}
.m_news_til{width:100%; height:24px; position:absolute; bottom:0; left:0;}
.n_til_bg{width:100%; height:100%; background:#000; opacity:0.5; filter:alpha(opacity=50); position:absolute; bottom:0; left:0;}
.m_news_til p{width:260px; padding:0 10px; line-height:24px; color:#fff; text-align:center; overflow:hidden; white-space:nowrap; text-overflow:ellipsis; position:absolute; bottom:0; left:0;}
.m_news_til p a{color:#fff;}
.m_news_til p a:hover{text-decoration:underline;}
.m_news_lis ul li{line-height:28px; color:#898989; white-space:nowrap; overflow:hidden; text-overflow:ellipsis;}
.m_news_lis ul li a{color:#898989; }
.m_news_lis ul li a:hover{color:#f26522; text-decoration:none;}

/*开服动态*/
.m_ser_box{height:313px; overflow: hidden; border-radius:3px; box-shadow:0 0 1px rgba(0,0,0,0.2); *border:1px solid #dadada; border:1px solid #dadada \9; margin-top:20px; background:#fbfbfb; transition:all 200ms linear;}
.m_ser_box:hover{box-shadow:0 0 4px rgba(0,0,0,0.2);}
.m_ser_til{height:38px; border-bottom:1px solid #ececec;}
.m_ser_til a{width:50%; height:38px; float:left; display:block; font:16px/38px Microsoft YaHei; color:#f26522; text-align:center; position:relative;}
.m_ser_til a i{width:0; height:2px; position:absolute; bottom:-1px; left:0; background:#f26522; transition:all 200ms linear;}
.m_ser_til a.on{font-weight:bold;}
.m_ser_til a.on i{width:100%;}
.m_ser_til a:hover{font-weight:bold;}
.m_ser_til a:hover i{width:100%;}
.m_ser_con{padding:15px 15px 0;}
.m_ser_egcon{height:340px; overflow:hidden;}
.m_ser_egli, .m_ser_eg{display:none;}
.m_ser_egdec{border-bottom:1px solid #dcdcdc;}
.m_ser_egdec p{height:33px; line-height:33px; color:#929292;}
.m_ser_egdec p span{height:100%; float:left; display:block; text-align:center; overflow:hidden;}
.w75{width:75px;}
.w110{width:110px;}
.m_ser_kf{height:56px; display:none;}
.m_ser_kf a{display:block;}
.m_ser_pic{width:78px; height:44px; margin-top:5px; overflow:hidden; border:1px solid #f1efef; float:left;}
.m_ser_pic img{width:100%; height:100%;}
.m_ser_kf em{width:88px; margin-top:5px; float:left; display:block; margin-left:10px; color:#f26522; line-height:24px;}
.m_ser_kf em a{font-weight:bold; color:#f26522;height: 24px;overflow: hidden;}
.m_ser_btn{width:67px; height:22px; margin-top:16px; background:#f26522; float:right; color:#fff; text-align:center; line-height:22px; border-radius:3px;}
.m_ser_kf2 em, .m_ser_kf2 em a{color:#f26522;}
.m_ser_kf2 .m_ser_btn{background:#f26522;}

.m_ser_ico{text-align:center; padding:15px 0;}
.m_ser_ico i{width:10px; height:10px; margin:0 3px; display:inline-block; border-radius:100%; background:#8c8c8c; text-indent:-21px; overflow:hidden; cursor:pointer;}
.m_ser_ico i.on{background:#f26522;}
.m_ser_ico2 i.on{background:#f26522;}

/*快速通道*/
.fast_con{height:200px; box-shadow:0 0 1px rgba(0,0,0,0.2); margin-top:20px; border-radius:3px; overflow:hidden; *border:1px solid #dadada; border:1px solid #dadada \9; border-bottom:0; background:#fbfbfb; transition:all 200ms linear;}
.fast_con:hover{box-shadow:0 0 4px rgba(0,0,0,0.2);}
.fast_con a{width:88px; height:49px; padding-left:60px; display:block; height:49px; border-right:1px solid #ececec; border-bottom:1px solid #ececec; float:left; font-size:14px; line-height:49px; color:#7f7f7f; position:relative;}
.fast_con a i{width:20px; height:17px; background:url(../images/login/icon.png) no-repeat; position:absolute; top:17px; left:25px;}
.fast_con a i.f_ico1{background-position:-60px -280px;}
.fast_con a i.f_ico2{background-position:-138px -280px;}
.fast_con a i.f_ico3{background-position:-60px -330px;}
.fast_con a i.f_ico4{background-position:-138px -328px;}
.fast_con a i.f_ico5{background-position:-60px -379px;}
.fast_con a i.f_ico6{background-position:-137px -379px;}
.fast_con a i.f_ico7{background-position:-60px -428px;}
.fast_con a i.f_ico8{background-position:-138px -428px;}
.fast_con a:hover{background:#f26522; color:#fff;}
.fast_con a:hover i.f_ico1{background-position:-95px -280px; }
.fast_con a:hover i.f_ico2{background-position:-178px -280px;}
.fast_con a:hover i.f_ico3{background-position:-97px -330px;}
.fast_con a:hover i.f_ico4{background-position:-179px -327px;}
.fast_con a:hover i.f_ico5{background-position:-97px -379px;}
.fast_con a:hover i.f_ico6{background-position:-177px -379px;}
.fast_con a:hover i.f_ico7{background-position:-97px -428px;}
.fast_con a:hover i.f_ico8{background-position:-178px -428px;}

/*客服中心*/
.kf_til{height:35px;}
.kf_til a{width:98px; height:20px; border:1px solid #f26522; color:#f26522; line-height:20px; font-size:14px; text-align:center; border-radius:3px; margin-top:15px; display:block;}
.kf_til a:hover{background:#f26522; color:#fff;}
.kf_con{height:130px; box-shadow:0 0 1px rgba(0,0,0,0.2); *border:1px solid #dadada; border:1px solid #dadada \9; background:#fbfbfb; transition:all 200ms linear;}
.kf_con:hover{box-shadow:0 0 4px rgba(0,0,0,0.2);}
.kf_con span{width:132px; height:105px; padding-top:25px; border-right:1px solid #dadada; float:left; display:block; text-align:center;}
.kf_con span a{width:78px; height:20px; display:block; border:1px solid #f26522; border-radius:3px; margin:10px auto 0; color:#f26522; line-height:20px;}
.kf_con span a:hover{background:#f26522; color:#fff;}
.kf_con p{width:165px; float:left; display:inline;}
.kf_con p a{width:100%; height:65px; display:block; font-size:16px; line-height:65px; text-align:center; border-bottom:1px solid #dadada; color:#f26522; position:relative;}
.kf_con p a i{width:12px; height:16px; background:url(../images/login/icon.png) no-repeat; background-position:-128px -198px; position:absolute; top:24px; left:15px;}
.kf_con p a:hover{text-decoration:underline;}
.kf_con p em{padding:10px 0 0 20px; font-size:14px; color:#8a8a8a; display:block;}
.kf_con p em b{font-size:18px; color:#f26522; display:block;}




/*增加css*/
.log_ico{width:45px; height:45px; background:url(../images/login/log_ico.png) no-repeat; background-position:-89px 0; position:absolute; top:5px; right:5px; cursor:pointer; z-index:3;}
.log_ico_h{background-position:-89px -45px;}
.log_note{width:100px; height:26px; padding-left:34px; font:12px/26px Microsoft YaHei; color:#ff6d16; background:url(../images/login/log_ico.png) no-repeat; background-position:0 -90px; position:absolute; top:3px; right:40px;}
.log_eg{display:none;}
.log_ewm h2{padding-left:20px;}
.log_econ{padding-top:25px; text-align:center;}
.log_e{text-align:left; padding-left:120px; margin-top:15px; font-size:12px; color:#818181; line-height:20px; position:relative;}
.log_e i{width:30px; height:27px; background:url(../images/login/log_ico.png) no-repeat; background-position:-1px 0; position:absolute; top:50%; left:80px; margin-top:-13px;}
.log_e span{color:#f26522;}
.log_econ a{color:#818181; margin-top:20px; display:block;}
.log_econ a:hover{color:#1e94e9;}
.log_pho{width:107px; height:162px; position:absolute; top:79px; right:-58px; display:none;}
