    <!-- 游戏中心样式 -->
    <link href="__STATIC__/module/index/platform/css/gamecenter.css" type="text/css" rel="stylesheet">
    
    <!-- 礼包中心样式 -->
    <link href="__STATIC__/module/index/platform/css/gift.css" type="text/css" rel="stylesheet">
    
    <!--内容开始-->
    <div class="wrap">
        
        {include file="gift/gift_title"/}

        <div class="game_kinds">
            <div class="game_flag">
                <h4>游戏分类：</h4>
                <div class="flags" id="type">

                    <a {empty name=":input('cid')"} class="on" {/empty} href="{:url('gift/h5', array('game_type' => input('game_type')))}">全部分类</a>

                    {volist name="game_category" id="v"}
                        <a {eq name=":input('cid')" value="$v.id"} class="on" {/eq} href="{:url('gift/h5', array('cid' => $v.id, 'game_type' => input('game_type')))}">{$v.category_name}</a>
                    {/volist}
                </div>
            </div>
            {empty name="game_category"}
                <div style="text-align: center; padding: 20px; background-color: #fff; margin-top: 20px;">
                    <h2>aOh! 暂时还没有数据~</h2>
                </div>
            {/empty}
        </div>
        
        
        <div class="container">
            <div class="card_l">
                <div class="card_list">
                    {notempty name="gift_list"}
                        {volist name="gift_list" id="v"}
                            <div class="card-one">
                                <div class="pic">
                                    <a href="{:url('gift/details', array('id' => $v['id']))}">
                                        <img src="{$v.logo}">
                                    </a>
                                </div>
                                <div class="mn">
                                    <div class="title">
                                        <a href="{:url('gift/details', array('id' => $v['id']))}">
                                            <h3>{$v.game_name} - {$v.gift_name}</h3>
                                        </a>
                                        <span class="type"></span>
                                    </div>
                                    <div class="info">
                                        <p>{$v.gift_describe}</p>
                                    </div>
                                    <div class="a-bar">
                                        <a class="org" href="javascript:;">官网</a>
                                        
                                        
                                        {empty name=":input('game_type')"}
                                        
                                            <a class="start" target="_blank" href="{:url('mgame/play',array('gid' => $v.old_game_id))}">开始游戏</a>
                                            
                                            {else/}
                                            
                                            <a class="start" href="{:url('mgame/download',array('id' => $v.game_id))}">下载安装包</a>
                                            
                                        {/empty}
                                        
                                    </div>
                                </div>
                                <div class="fr">
                                    {empty name="v['number']"}
                                        <a class="noactive" href="javascript:;">礼包已领完</a>
                                        <p class="remain">剩余:<em>0</em></p>
                                    {else /}
                                        <a href="{:url('gift/mobileDetails', array('id' => $v['id']))}">领取礼包</a>
                                        <p class="remain">剩余:<em>{$v.number}</em></p>
                                    {/empty}
                                </div>
                            </div>
                        {/volist}
                        
                        {else /}
                            <div style="text-align: center; padding: 20px; background-color: #fff; margin-top: 20px;">
                                <h2>aOh! 暂时还没有数据~</h2>
                            </div>
                        
                    {/notempty}
                </div>
            </div>
            
            <table style="margin:0 auto;"> <td> {$gift_list->render()} </td> </table>
        </div>
    </div>
    <!--内容结束-->
    
<script type="text/javascript" src="__STATIC__/module/index/platform/js/search.js"></script>