<div class="box">
  <div class="box-header ">
    
    <div class="box-tools ">
        
        <div class="input-group input-group-sm search-form" style="margin-right: 100px;">
            
            <input class="pull-right search-input date" style="width: 100px;" name="end_date" placeholder="结束日期" value="{:input('end_date')}" type="text">
            <input class="pull-right search-input date" style="width: 100px;" name="begin_date" placeholder="开始日期" value="{:input('begin_date')}" type="text">
            
            <div class="input-group-btn">
              <button type="button" id="search" url="{:url('gameList')}" class="btn btn-default"><i class="fa fa-search"></i></button>
            </div>
        </div>
    </div>
    <br/>
  </div>
    
  <div class="box-body table-responsive">
    <table  class="table table-bordered table-hover">
      <thead>
        <tr>
            <th>游戏</th>
            <th>注册数量</th>
            <th>IP数量</th>
            <th>充值数量</th>
            <th>充值金额</th>
            <th>操作</th>
        </tr>
      </thead>
      
      {notempty name='list'}
        <tbody>
            {volist name="list" id='vo'}
                <tr>
                  <td>{$vo.game_name}</td>
                  <td>{$vo.register_number}</td>
                  <td>{$vo.register_ip_number}</td>
                  <td>{$vo.pay_number}</td>
                  <td>{$vo.pay_money}</td>
                  <td>
                      <a href="{:url('serverList', array('game_id' => $vo['id']))}"><span class='badge bg-green'>区服明细</span></a>
                  </td>
                </tr>
            {/volist}
        </tbody>
        {else/}
        <tbody><tr class="odd"><td colspan="6" class="text-center" valign="top">{:config('empty_list_describe')}</td></tr></tbody>
      {/notempty}
    </table>
  </div>

  <div class="box-footer clearfix text-center">
      {$list->render()}
  </div>

</div>

<script type="text/javascript">

    $(function(){
        
        $('.date').datetimepicker({
            format: 'yyyy-mm-dd',
            language:"zh-CN",
            minView:2,
            autoclose:true
        });
        
        $('.time').datetimepicker({
            format: 'yyyy-mm-dd hh:ii:ss',
            language:"zh-CN",
            minView:0,
            autoclose:true
        });
    });

</script>