<!-- 首页样式 -->
<link href="__STATIC__/module/index/platform/css/welcome.css" type="text/css" rel="stylesheet">

<div class="con_box">
    
    <!-- 首页轮播 -->
    {include file="index/banner"/}

    <!-- 内容 -->
    <div class="main">

        <!-- 首页登录框 -->
        {include file="index/login"/}

        <!-- 首页推荐游戏 -->
        {include file="index/recommend"/}

        <!-- 中间区域 -->
        <div class="m_con">

            <div class="m_conl">

                <!-- 热门游戏 -->
                {include file="index/hot"/}

                <!-- 游戏礼包 -->
                {include file="index/gift"/}

                <!-- 更多游戏 -->
                {include file="index/more"/}
            </div>

            <div class="m_conr">

                <!-- 新闻资讯 -->
                {include file="index/news"/}

                <!-- 开服动态 -->
                {include file="index/servers"/}

                <!-- 快速通道 -->
                {include file="index/aisle"/}
            </div>

            <div class="clear"></div>
        </div>
    </div>
</div>

<script src="__STATIC__/module/index/platform/js/welcome.js" language="javascript" type="text/javascript"></script>