<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <title>{$game_info['game_name']}游戏登录-OneGame</title>
    <meta http-equiv="keywords" content="OneGame|{$game_info['game_name']}|{$game_info['game_intro']}" />
    <meta name="description" content="OneGame{$game_info['game_name']}{$game_info['game_intro']}" />
    <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">
    <link href="__STATIC__/module/admin/ext/adminlte/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="__STATIC__/module/admin/ext/adminlte/dist/css/AdminLTE.min.css">
    <link rel="stylesheet" href="__STATIC__/module/common/toastr/m_toastr.min.css">
    <link rel="stylesheet" href="__STATIC__/module/admin/ext/btnloading/dist/ladda-themeless.min.css">
    <link rel="stylesheet" href="__STATIC__/module/admin/css/onebase.css">
    <script type="text/javascript" src="__STATIC__/module/common/jquery/jquery-2.2.3.min.js"></script>
    <script src="__STATIC__/module/admin/ext/adminlte/bootstrap/js/bootstrap.min.js"></script>
</head>
<body style="background-image: url({$game_info['game_cover']}); background-repeat:no-repeat; background-size:100% 100%;-moz-background-size:100% 100%;">
    <div class="admin-login-box" style="opacity:0.95; width:250px; margin:0px auto;  right:0px; left:0px;">
    <div class="login-box-body" style="border-radius:15px; border:2px solid #f26522;">
      <div class="login-logo">
        <a href="" class="login-logo-a"  style="color:#f26522 !important; font-size:20px;"><b>{$game_info['game_name']}</b></a>
    </div>
      
    <form action="{:url('login/channelRegisterHandle')}" method="post" class="admin-login-form">
      <div class="form-group has-feedback">
          <input type="text" name="username" class="form-control" placeholder="请输入您的用户名" onfocus="this.style.border='1px solid #f26522';" >
           <span class="glyphicon glyphicon-user form-control-feedback"></span>
      </div>
      <div class="form-group has-feedback">
           <input type="password" name="password" class="form-control" placeholder="请输入您的密码" onfocus="this.style.border='1px solid #f26522';">
           <span class="glyphicon glyphicon-lock form-control-feedback"></span>
      </div>

        <div class="social-auth-links text-center">
            
          <button  type="submit" class="btn btn-block btn-facebook ladda-button login-submit-button" data-style="slide-up"  style="background-color:#f26522;">
              <span class="ladda-label">开始游戏</span>
          </button>
        </div>
    </form>
  </div>
</div>
<script src="__STATIC__/module/common/toastr/toastr.min.js"></script>
<script src="__STATIC__/module/admin/ext/btnloading/dist/spin.min.js"></script>
<script src="__STATIC__/module/admin/ext/btnloading/dist/ladda.min.js"></script>
<script src="__STATIC__/module/admin/ext/adminlte/plugins/iCheck/icheck.min.js"></script>
<script src="__STATIC__/module/admin/js/onebase.js"></script>
</body>
</html>
</body>
</html>
