<form action="{:url()}" method="post" class="form_single">
    <div class="box">
      <div class="box-body">
        <div class="row">
            
          <div class="col-md-6">
            <div class="form-group">
              <label>公会名称</label>
              <input class="form-control" name="conference_name" value="{$info.conference_name|default=''}" placeholder="请输入公会名称" type="text">
            </div>
          </div>
            
          <div class="col-md-6">
            <div class="form-group">
              <label>公会联系人</label>
              <input class="form-control" name="contact_name" value="{$info.contact_name|default=''}" placeholder="请输入公会联系人" type="text">
            </div>
          </div>
            
          <div class="col-md-6">
            <div class="form-group">
              <label>联系电话</label>
              <input class="form-control" name="contact_mobile" value="{$info.contact_mobile|default=''}" placeholder="请输入联系电话" type="text">
            </div>
          </div>
            
          <div class="col-md-6">
            <div class="form-group">
              <label>联系QQ</label>
              <input class="form-control" name="qq" value="{$info.qq|default=''}" placeholder="请输入联系QQ" type="text">
            </div>
          </div>
            
          <div class="col-md-6">
            <div class="form-group">
              <label>银行账户</label>
              <input class="form-control" name="bank_account" value="{$info.bank_account|default=''}" placeholder="请输入银行账户" type="text">
            </div>
          </div>
            
          <div class="col-md-6">
            <div class="form-group">
              <label>开户人</label>
              <input class="form-control" name="account_holder" value="{$info.account_holder|default=''}" placeholder="请输入开户人" type="text">
            </div>
          </div>
            
          <div class="col-md-6">
            <div class="form-group">
              <label>开户行</label>
              <input class="form-control" name="opening_bank" value="{$info.opening_bank|default=''}" placeholder="请输入开户行" type="text">
            </div>
          </div>
            
          <div class="col-md-6">
            <div class="form-group">
              <label>分成比例</label>
              <span>（1为1%，50为50%，取值区间0-100）</span>
              <input class="form-control" name="ratio" value="{$info.ratio|default='0'}" placeholder="请输入分成比例" type="text">
            </div>
          </div>
            
          </div>
          
          
        </div>
        
      <div class="box-footer">
          
            <input type="hidden" name="id" value="{$info['id']|default='0'}"/>
          
            {include file="layout/edit_btn_group"/}
      </div>
        
      </div>

</form>