<div class="box">
  <div class="box-header">
    
    <ob_link><a class="btn" href="{:url('employeeAdd', array('id' => input('id')))}"><i class="fa fa-plus"></i> 新 增</a></ob_link>
    <div class="box-tools ">
        <div class="input-group input-group-sm search-form">
            <input name="search_data" class="pull-right search-input" value="{:input('search_data')}" placeholder="输入昵称或账号" type="text">
            <div class="input-group-btn">
              <button type="button" id="search" url="{:url('employeeList')}" class="btn btn-default"><i class="fa fa-search"></i></button>
            </div>
        </div>
    </div>
    <br/>
  </div>
    
  <div class="box-body table-responsive">
    <table  class="table table-bordered table-hover">
      <thead>
        <tr>
            <th>公会</th>
            <th>昵称</th>
            <th>账号</th>
            <th>电话</th>
            <th>加入时间</th>
            <th>操作</th>
        </tr>
      </thead>
      
      {notempty name='list'}
        <tbody>
            {volist name='list' id='vo'}
                <tr>
                  <td>{$vo.conference_name}</td>
                  <td>{$vo.nickname}</td>
                  <td>{$vo.username}</td>
                  <td>{$vo.mobile}</td>
                  <td>{$vo.create_time}</td>
                  <td>
                    <ob_link><a href="{:url('employeeEdit', array('id' => $vo['id'],'username' => $vo['username']))}"><span class='badge bg-green'>编辑</span></a></ob_link>
                  </td>
                </tr>
            {/volist}
        </tbody>
        {else/}
        <tbody><tr class="odd"><td colspan="5" class="text-center" valign="top">{:config('empty_list_describe')}</td></tr></tbody>
      {/notempty}
    </table>
  </div>

  <div class="box-footer clearfix text-center">
      {$list->render()}
  </div>

</div>