<div class="box">
  <div class="box-header">
    
    <ob_link><a class="btn" href="{:url('linkAdd')}"><i class="fa fa-plus"></i> 新 增</a></ob_link>
    
  </div>
    
  <div class="box-body table-responsive">
    <table  class="table table-bordered table-hover">
      <thead>
        <tr>
            <th>公会</th>
            <th>员工</th>
            <th>游戏</th>
            <th>推广码</th>
            <th>推广链接</th>
            <th>创建时间</th>
        </tr>
      </thead>
      
      {notempty name='list'}
        <tbody>
            {volist name='list' id='vo'}
                <tr>
                  <td>{$vo.conference_name}</td>
                  <td>{$vo.username}</td>
                  <td>
                      {eq name='vo.type' value='0'}
                        页游-{$vo.game_name}
                      {/eq}
                      {eq name='vo.type' value='1'}
                        手游-{notempty name="vo.download_url"}APP{else/}H5{/notempty}-{$vo.game_name}
                      {/eq}
                  </td>
                  <td>{$vo.code}</td>
                  <td>
                        {eq name='vo.type' value='0'}<a target="_blank" href="{$Think.const.DOMAIN}/channel/{$vo.code}.html">{$Think.const.DOMAIN}/channel/{$vo.code}.html</a>{/eq}
                        {eq name='vo.type' value='1'}
                            {notempty name="vo.download_url"}
                                  <a target="_blank" href="{$vo.download_url}">下载安装包</a>
                              {else/}
                                  <a target="_blank" href="{$Think.const.DOMAIN}/mchannel/{$vo.code}.html">{$Think.const.DOMAIN}/mchannel/{$vo.code}.html</a>
                            {/notempty}
                        {/eq}
                  </td>
                  <td>{$vo.create_time}</td>
                </tr>
            {/volist}
        </tbody>
        {else/}
        <tbody><tr class="odd"><td colspan="6" class="text-center" valign="top">{:config('empty_list_describe')}</td></tr></tbody>
      {/notempty}
    </table>
  </div>

  <div class="box-footer clearfix text-center">
      {$list->render()}
  </div>

</div>